httpx==0.26.0
pydantic==2.6.4
pandas==2.2.2
uszipcode==0.2.6
regex==2023.12.25
typer==0.12.3
tqdm==4.66.4
beautifulsoup4==4.12.3
python-dotenv==1.0.1
openai==1.23.6
sqlalchemy==2.0.41
psycopg2-binary==2.9.9 